<%- include('partials/pageHead') %>

<div class="container mt-5 pt-5">
    <div class="row mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Zarejestruj się</h5>
                <form action="/register" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Nazwa użytkownika</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Hasło</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="defaultCurrency" class="form-label">Domyślna waluta</label>
                        <select class="form-select" id="defaultCurrency" name="defaultCurrency">
                            <option value="PLN" selected>PLN</option>
                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                            <option value="GBP">GBP</option>
                            </select>
                    </div>
                    <div class="mb-3">
                        <label for="freeFundsColor" class="form-label">Kolor dla "Wolne środki"</label>
                        <input type="color" class="form-control form-control-color" id="freeFundsColor" name="freeFundsColor" value="#28a745">
                        <div id="freeFundsColorHelp" class="form-text">Wybierz kolor, który będzie przypisany do kategorii "Wolne środki".</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('partials/pageFoot') %>