<% layout('layouts/main') %>

<h1 class="mt-4 text-light">Witaj w swojej Aplikacji Finansowej!</h1> 
<p class="lead text-light">Z łatwością zarządzaj swoimi kontami i transakcjami.</p> 
<hr>
<p class="text-light">Użyj paska nawigacji, aby się zarejestrować lub zalogować.</p> 